@model store.Models.stores

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="card col-6">
        <div class="row">
            <div class="card-header bg-dark text-white col-12">
                <h4>stores</h4>
            </div>
            <div class="col-sm-12 mt-1">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Telefono" class="control-label"></label>
                                        <input asp-for="Telefono" class="form-control" />
                                        <span asp-validation-for="Telefono" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Longitud" class="control-label"></label>
                                        <input asp-for="Longitud" type="hidden" id="Longitud1" />
                                        <input id="Longitud2" class="form-control" disabled />
                                        <span asp-validation-for="Longitud" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Latitud" class="control-label"></label>
                                        <input asp-for="Latitud" type="hidden" id="Latitud1" />
                                        <input id="Latitud2" class="form-control" disabled />
                                        <span asp-validation-for="Latitud" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-12">
            <input id="autocomplete" class="form-control" />
        </div>
        <div id="map" style="height:25rem; width:100%; float:right;"></div>
    </div>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBLhEJMg5FhoaDRGMFoavTog2tOOh7Qus&libraries=places"></script>
<script src="~/js/main.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
