@model store.Models.stores

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-md-center">
    <div class="card col-12">
        <div class="row">
            <div class="card-header bg-dark text-white col-12">
                <h4>Edit stores</h4>
            </div>
            <div class="col-sm-12 mt-1">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdStore" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Telefono" class="control-label"></label>
                                        <input asp-for="Telefono" class="form-control" />
                                        <span asp-validation-for="Telefono" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Longitud" class="control-label"></label>
                                        <input asp-for="Longitud" class="form-control" />
                                        <span asp-validation-for="Longitud" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Latitud" class="control-label"></label>
                                        <input asp-for="Latitud" class="form-control" />
                                        <span asp-validation-for="Latitud" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                        <input type="submit" value="Actualizar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
