@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-md-center">
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-dark text-white">
            STORE LIST
        </div>
        <div class="col-sm-12 text-center">
            <i class="fas fa-store fa-10x mt-1 mb-1 text-primary"></i>
        </div>
        <div class="col-sm-12 text-center mb-1"><a asp-controller="stores" class="btn btn-success mause">Go</a></div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-dark text-white">
            STORE LIST
        </div>
        <div class="col-sm-12 text-center">
            <i class="far fa-user fa-10x mt-1 mb-1 text-primary"></i>
        </div>
        <div class="col-sm-12 text-center mb-1"><a class="btn btn-success mause">Go</a></div>
    </div>
</div>